.nav {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;

  ol {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0px;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: underline;
    }

    a:focus {
      background-color: initial;
      text-decoration: underline;
    }

    a.activeLink {
      background-color: rgba(0 0 0 / 20%);
    }
  }
}
