$layout-breakpoint-small: 920px;
$layout-breakpoint-xsmall: 600px;

.pokeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 240px;
  max-width: 30%;

  .image {
    aspect-ratio: 8/11;
    background-color: rgba(0 0 0 / 10%);
  }

  a {
    margin-top: 0.5rem;
    border-radius: 10px;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .pokeCard {
    max-width: 34%;
  }
}

@media (max-width: $layout-breakpoint-xsmall) {
  .pokeCard {
    max-width: 60%;
  }
}
